@charset "UTF-8";
/**********************
upDate:2016-12-14
BuilderVersion:EUI.CSS v0.2.0
CopyRight:jhxia & iflytek_EUED
***********************/
/**********************
Date:2015-02-05
BuilderVersion:base.css v1.2.0
CopyRight:iflytek_EUED
***********************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-family: 'Microsoft YaHei',arial,SimSun,sans-serif,tahoma;
}

body {
  -webkit-text-size-adjust: none;
}

input, select, textarea {
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0 none;
}

iframe {
  display: block;
}

abbr, acronym {
  border: none;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before, q:after {
  content: '';
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ins, a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hidenone {
  display: none;
  visibility: hidden;
}

.hide {
  visibility: hidden;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.tc {
  text-align: center;
}

/**********************
upDate:2016-07-13
BuilderVersion:EUI-button v0.1.1
CopyRight:jhxia & iflytek_EUED
***********************/
/* base btn */
.eui-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.3em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #ededed;
  background-color: #fafafa;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Firefox edit */
.eui-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.eui-btn-hover,
.eui-btn:hover,
.eui-btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.eui-btn:focus {
  outline: 0;
}

.eui-btn-active,
.eui-btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 0 6px rgba(0, 0, 0, 0.05) inset;
  /*border-color: #333\9;*/
}

.eui-btn[disabled],
.eui-btn-disabled,
.eui-btn-disabled:hover,
.eui-btn-disabled:focus,
.eui-btn-disabled:active {
  border: none;
  background-color: #e6e6e6;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

.eui-btn-primary,
a.eui-btn-primary {
  background-color: #1f8dd6;
  border-color: #1f8dd6;
  color: #fff;
}

.eui-btn-success,
a.eui-btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}

.eui-btn-info,
a.eui-btn-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #fff;
}

.eui-btn-warning,
a.eui-btn-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
}

.eui-btn-danger,
a.eui-btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

.btn-xs {
  font-size: 70%;
}

.btn-sl {
  font-size: 85%;
}

.btn-lg {
  font-size: 110%;
}

.btn-xl {
  font-size: 125%;
}

/**********************
Date:2016-06-01
BuilderVersion:EUI-table v0.1.0
CopyRight:jhxia & iflytek_EUED
***********************/
/* base table */
.eui-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.eui-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.eui-table td,
.eui-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}

.eui-table td:first-child,
.eui-table th:first-child {
  border-left-width: 0;
}

.eui-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.eui-table td {
  background-color: transparent;
}

.eui-table-odd td {
  background-color: #f2f2f2;
}

.eui-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

.eui-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.eui-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.eui-table-horizontal td,
.eui-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}

.eui-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.eui-table-hover > tbody > tr:hover {
  background: #f5f5f5;
}

/**********************
Date:2016-12-14
BuilderVersion:EUI-form v0.1.2
CopyRight:jhxia & iflytek_EUED
***********************/
/* base form */
.eui-form input[type="text"],
.eui-form input[type="password"],
.eui-form input[type="email"],
.eui-form input[type="url"],
.eui-form input[type="date"],
.eui-form input[type="month"],
.eui-form input[type="time"],
.eui-form input[type="datetime"],
.eui-form input[type="datetime-local"],
.eui-form input[type="week"],
.eui-form input[type="number"],
.eui-form input[type="search"],
.eui-form input[type="tel"],
.eui-form input[type="color"],
.eui-form select,
.eui-form textarea {
  padding: 0.4em 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

.eui-form input:focus,
.eui-form select:focus,
.eui-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

.eui-form input[type="file"]:focus,
.eui-form input[type="radio"]:focus,
.eui-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}

.eui-form .eui-block {
  margin: 0.5em 0;
  display: block;
}

.eui-form input[disabled],
.eui-form select[disabled],
.eui-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.eui-form input[readonly],
.eui-form select[readonly],
.eui-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.eui-form input:focus:invalid,
.eui-form textarea:focus:invalid,
.eui-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.eui-form input[type="file"]:focus:invalid:focus,
.eui-form input[type="radio"]:focus:invalid:focus,
.eui-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}

.eui-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}

.eui-form select[multiple] {
  height: auto;
}

.eui-form label {
  margin: 0.5em 0 0.2em;
}

.eui-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.eui-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.eui-form-vertical input[type="text"],
.eui-form-vertical input[type="password"],
.eui-form-vertical input[type="email"],
.eui-form-vertical input[type="url"],
.eui-form-vertical input[type="date"],
.eui-form-vertical input[type="month"],
.eui-form-vertical input[type="time"],
.eui-form-vertical input[type="datetime"],
.eui-form-vertical input[type="datetime-local"],
.eui-form-vertical input[type="week"],
.eui-form-vertical input[type="number"],
.eui-form-vertical input[type="search"],
.eui-form-vertical input[type="tel"],
.eui-form-vertical input[type="color"],
.eui-form-vertical input[type="file"],
.eui-form-vertical select,
.eui-form-vertical label,
.eui-form-vertical textarea {
  display: block;
  margin: 0.25em 0;
}

.eui-form-aligned input,
.eui-form-aligned textarea,
.eui-form-aligned select,
.eui-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.eui-form-aligned textarea {
  vertical-align: top;
}

.eui-form-aligned .eui-control-group {
  margin-bottom: 0.5em;
}

.eui-form-aligned .eui-control-group .eui-aligned-label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.eui-form-aligned .eui-controls {
  margin: 1.5em 0 0 11em;
}

.eui-form .eui-input-rounded {
  border-radius: 2em;
}

.eui-form .eui-group input,
.eui-form .eui-group textarea {
  display: block;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
}

.eui-form .eui-group input:focus,
.eui-form .eui-group textarea:focus {
  z-index: 3;
}

.eui-form .eui-group input:first-child,
.eui-form .eui-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.eui-form .eui-group input:first-child:last-child,
.eui-form .eui-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.eui-form .eui-group input:last-child,
.eui-form .eui-group textarea:last-child {
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.eui-form .eui-input-1 {
  width: 100%;
}

.eui-form .eui-input-3-4 {
  width: 75%;
}

.eui-form .eui-input-2-3 {
  width: 66%;
}

.eui-form .eui-input-1-2 {
  width: 50%;
}

.eui-form .eui-input-1-3 {
  width: 33%;
}

.eui-form .eui-input-1-4 {
  width: 25%;
}

/**********************
Date:2016-06-03
BuilderVersion:EUI-menu v0.1.0
CopyRight:jhxia & iflytek_EUED
***********************/
/* base menu */
.eui-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eui-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.eui-menu-list,
.eui-menu-item {
  position: relative;
}

.eui-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eui-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.eui-menu-link,
.eui-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.eui-menu-horizontal .eui-menu-list {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.eui-menu-horizontal .eui-menu-item,
.eui-menu-horizontal .eui-menu-heading,
.eui-menu-horizontal .eui-menu-separator {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

/*--dropdown--*/
.eui-menu-item .eui-menu-item {
  display: block;
}

.eui-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.eui-menu-allow-hover:hover > .eui-menu-children,
.eui-menu-active > .eui-menu-children {
  display: block;
  position: absolute;
}

.eui-menu-has-children > .eui-menu-link:after {
  padding-left: 0.5em;
  content: "\25B8";
  font-size: small;
}

/*-horizontal--*/
.eui-menu-horizontal .eui-menu-has-children > .eui-menu-link:after {
  content: "\25BE";
}

.eui-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}

.eui-menu-horizontal .eui-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

/* menu default styling */
.eui-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0;
}

.eui-menu-horizontal .eui-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em;
}

.eui-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.eui-menu-link {
  color: #777;
}

.eui-menu-children {
  background-color: #fff;
}

.eui-menu-link,
.eui-menu-heading {
  padding: .5em 1em;
}

.eui-menu-active > .eui-menu-link,
.eui-menu-link:hover,
.eui-menu-link:focus {
  background-color: #eee;
}

.eui-menu-current .eui-menu-link,
.eui-menu-current .eui-menu-link:visited {
  color: #000;
}

/**********************
Date:2016-12-14
BuilderVersion:EUI-form-beautify v0.1.2
CopyRight:jhxia & iflytek_EUED
***********************/
.eui-checkbox,
.eui-radio {
  line-height: 1.875rem;
  min-width: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.eui-checkbox input[type="checkbox"],
.eui-radio input[type="checkbox"],
.eui-checkbox input[type="radio"],
.eui-radio input[type="radio"] {
  position: absolute;
  visibility: hidden;
  width: 0.0625rem;
  height: 0.0625rem;
}

.eui-checkbox .eui-caption,
.eui-radio .eui-caption {
  margin: 0 .125rem;
  vertical-align: middle;
}

.eui-checkbox .eui-check,
.eui-radio .eui-check {
  width: 1em;
  height: 1em;
  background-color: #ffffff;
  border: 1px #999 solid;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eui-checkbox .eui-check:before,
.eui-radio .eui-check:before {
  position: absolute;
  vertical-align: middle;
  content: "";
  background-color: transparent;
  left: 50%;
  top: 50%;
  margin-left: -0.35em;
  margin-top: -0.95em;
  display: block;
  transition: all 0.2s linear;
}

.eui-checkbox input[type="checkbox"]:checked ~ .eui-check:before,
.eui-radio input[type="checkbox"]:checked ~ .eui-check:before {
  content: "\2713";
  transition: all 0.2s linear;
}

.eui-checkbox input[type="checkbox"]:disabled ~ .eui-caption,
.eui-radio input[type="checkbox"]:disabled ~ .eui-caption,
.eui-checkbox input[type="radio"]:disabled ~ .eui-caption,
.eui-radio input[type="radio"]:disabled ~ .eui-caption {
  color: #cacaca;
  cursor: default;
}

.eui-checkbox input[type="checkbox"]:disabled ~ .eui-check,
.eui-radio input[type="checkbox"]:disabled ~ .eui-check,
.eui-checkbox input[type="radio"]:disabled ~ .eui-check,
.eui-radio input[type="radio"]:disabled ~ .eui-check {
  border-color: #cacaca;
  cursor: default;
}

.eui-checkbox input[data-show="indeterminate"] ~ .eui-check:before,
.eui-radio input[data-show="indeterminate"] ~ .eui-check:before,
.eui-checkbox input[data-show="indeterminate"]:checked ~ .eui-check:before,
.eui-radio input[data-show="indeterminate"]:checked ~ .eui-check:before,
.eui-checkbox input.indeterminate:checked ~ .eui-check:before,
.eui-radio input.indeterminate:checked ~ .eui-check:before,
.eui-checkbox input[type="checkbox"]:indeterminate ~ .eui-check:before,
.eui-radio input[type="checkbox"]:indeterminate ~ .eui-check:before {
  display: none;
}

.eui-checkbox input[data-show="indeterminate"] ~ .eui-check:after,
.eui-radio input[data-show="indeterminate"] ~ .eui-check:after,
.eui-checkbox input[data-show="indeterminate"]:checked ~ .eui-check:after,
.eui-radio input[data-show="indeterminate"]:checked ~ .eui-check:after,
.eui-checkbox input.indeterminate:checked ~ .eui-check:after,
.eui-radio input.indeterminate:checked ~ .eui-check:after,
.eui-checkbox input[type="checkbox"]:indeterminate ~ .eui-check:after,
.eui-radio input[type="checkbox"]:indeterminate ~ .eui-check:after {
  position: absolute;
  display: block;
  content: "";
  background-color: #1d1d1d;
  height: .875rem;
  width: .875rem;
  left: 50%;
  top: 50%;
  margin-left: -0.4375rem;
  margin-top: -0.4375rem;
}

.eui-checkbox input[data-show="indeterminate"]:not(:checked) ~ .eui-check:after,
.eui-radio input[data-show="indeterminate"]:not(:checked) ~ .eui-check:after {
  background-color: transparent;
}

.eui-checkbox input[data-show="indeterminate"]:disabled ~ .eui-check:after,
.eui-radio input[data-show="indeterminate"]:disabled ~ .eui-check:after {
  background-color: #cacaca;
}

.eui-radio .eui-check {
  border: 1px #999999 solid;
  border-radius: 50%;
}

.eui-radio .eui-check:before {
  position: absolute;
  display: block;
  content: "";
  background-color: #1d1d1d;
  height: .5624rem;
  width: .5624rem;
  left: 50%;
  top: 50%;
  margin-left: -0.298rem;
  margin-top: -0.298rem;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  border-radius: 50%;
}

.eui-radio input[type="radio"]:checked ~ .eui-check:before {
  border-color: transparent;
}

.eui-radio input[type="radio"]:not(:checked) ~ .eui-check:before {
  background-color: transparent;
}

.eui-radio input[type="radio"]:disabled ~ .eui-check:before {
  border-color: transparent;
}

/*--select美化--*/
.eui-select-box {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
.eui-select-box * {
  display: block;
}
.eui-select-box a {
  color: #666;
  outline-width: 0px;
  text-decoration: none;
}
.eui-select-box .selectBox {
  float: left;
  cursor: pointer;
  border: solid 1px #cfcfcf;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.eui-select-box .selectLt {
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.eui-select-box .sHover .selectLt {
  color: #555;
}
.eui-select-box .sHover .selectRt {
  background: #f1f3f6;
}
.eui-select-box .sHover .selectRt:after {
  border-top-color: #807F7F;
}
.eui-select-box .selectRt {
  position: relative;
  height: 28px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 28px;
  margin-top: 0;
  cursor: pointer;
  background: #f1f3f6;
  float: right;
}
.eui-select-box .selectRt:after {
  position: absolute;
  top: 11px;
  left: 8px;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #ADADAD;
}
.eui-select-box .sPressDown {
  border-color: #51A3FF;
  background: #fff;
}
.eui-select-box .sPressDown .selectRt {
  background: none;
}
.eui-select-box .optionsBox {
  position: absolute;
  padding: 0;
  margin: 0px;
  background: #fff;
  z-index: 100;
  border: solid 1px #88AEF4;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.eui-select-box .optionBox {
  cursor: pointer;
  padding: 2px 20px 2px 12px;
  margin: 0px;
  height: 25px;
  line-height: 25px;
}
.eui-select-box .optionBox span {
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.eui-select-box .oHover {
  background: #fefefe;
  color: #385db4;
}
.eui-select-box .oNormal {
  color: #333;
}
.eui-select-box .selected {
  background: #f1f3f6;
}

/*--file美化--*/
.eui-file {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: #f1f3f6;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0.3em 1em;
  overflow: hidden;
  color: #807f7f;
  text-decoration: none;
  text-indent: 0;
  line-height: 26px;
}
.eui-file input[type=file] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.eui-file input[type=text] {
  border: 0;
  font-size: 14px;
  padding: 0.2em 0.3em;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eui-file:hover {
  background: #f1f3f6;
  border-color: #807f7f;
  color: #807f7f;
  text-decoration: none;
}

.eui-file-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
}
.eui-file-btn input[type=file] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.eui-file-btn input[type=text] {
  float: left;
  display: inline-block;
  outline: 0 none;
  padding: 0.3em;
  overflow: hidden;
  cursor: default;
  border: 1px solid #ccc;
  border-right: 0;
  color: #777;
  line-height: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eui-file-btn input[type=button] {
  float: left;
  display: inline-block;
  outline: 0 none;
  padding: 0.3em;
  margin: 0;
  color: #807f7f;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 24px;
}
.eui-file-btn:hover input[type=text], .eui-file-btn:hover input[type=button] {
  border-color: #807f7f;
}
