/**********************
Date:2016-12-15
BuilderVersion:EUI-form v0.1.2
CopyRight:jhxia & iflytek_EUED
***********************/
/* base form */
.eui-form input[type="text"],
.eui-form input[type="password"],
.eui-form input[type="email"],
.eui-form input[type="url"],
.eui-form input[type="date"],
.eui-form input[type="month"],
.eui-form input[type="time"],
.eui-form input[type="datetime"],
.eui-form input[type="datetime-local"],
.eui-form input[type="week"],
.eui-form input[type="number"],
.eui-form input[type="search"],
.eui-form input[type="tel"],
.eui-form input[type="color"],
.eui-form select,
.eui-form textarea {
	padding: 0.4em 0.5em;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 2px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}

.eui-form input:focus,
.eui-form select:focus,
.eui-form textarea:focus {
	outline: 0;
	border-color: #129FEA;
}

.eui-form input[type="file"]:focus,
.eui-form input[type="radio"]:focus,
.eui-form input[type="checkbox"]:focus {
	outline: thin solid #129FEA;
	outline: 1px auto #129FEA;
}
.eui-form .eui-block{
	margin: 0.5em 0;
	display: block;
}

.eui-form input[disabled],
.eui-form select[disabled],
.eui-form textarea[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}

.eui-form input[readonly],
.eui-form select[readonly],
.eui-form textarea[readonly] {
	background-color: #eee;
	color: #777;
	border-color: #ccc;
}

.eui-form input:focus:invalid,
.eui-form textarea:focus:invalid,
.eui-form select:focus:invalid {
	color: #b94a48;
	border-color: #e9322d;
}
.eui-form input[type="file"]:focus:invalid:focus,
.eui-form input[type="radio"]:focus:invalid:focus,
.eui-form input[type="checkbox"]:focus:invalid:focus {
	outline-color: #e9322d;
}
.eui-form select {
	height: 2.25em;
	border: 1px solid #ccc;
	background-color: white;
}
.eui-form select[multiple] {
	height: auto;
}
.eui-form label {
	margin: 0.5em 0 0.2em;
}
.eui-form fieldset {
	margin: 0;
	padding: 0.35em 0 0.75em;
	border: 0;
}
.eui-form legend {
	display: block;
	width: 100%;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.eui-form-vertical input[type="text"],
.eui-form-vertical input[type="password"],
.eui-form-vertical input[type="email"],
.eui-form-vertical input[type="url"],
.eui-form-vertical input[type="date"],
.eui-form-vertical input[type="month"],
.eui-form-vertical input[type="time"],
.eui-form-vertical input[type="datetime"],
.eui-form-vertical input[type="datetime-local"],
.eui-form-vertical input[type="week"],
.eui-form-vertical input[type="number"],
.eui-form-vertical input[type="search"],
.eui-form-vertical input[type="tel"],
.eui-form-vertical input[type="color"],
.eui-form-vertical input[type="file"],
.eui-form-vertical select,
.eui-form-vertical label,
.eui-form-vertical textarea {
	display: block;
	margin: 0.25em 0;
}

.eui-form-aligned input,
.eui-form-aligned textarea,
.eui-form-aligned select,
.eui-form-message-inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}
.eui-form-aligned textarea {
	vertical-align: top;
}

.eui-form-aligned .eui-control-group {
	margin-bottom: 0.5em;
}
.eui-form-aligned .eui-control-group .eui-aligned-label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}
.eui-form-aligned .eui-controls {
	margin: 1.5em 0 0 11em;
}

.eui-form .eui-input-rounded,
.eui-form input.eui-input-rounded {
	border-radius: 2em;
}

.eui-form .eui-group input,
.eui-form .eui-group textarea {
	display: block;
	margin: 0 0 -1px;
	border-radius: 0;
	position: relative;
}
.eui-form .eui-group input:focus,
.eui-form .eui-group textarea:focus {
	z-index: 3;
}
.eui-form .eui-group input:first-child,
.eui-form .eui-group textarea:first-child {
	top: 1px;
	border-radius: 4px 4px 0 0;
	margin: 0;
}
.eui-form .eui-group input:first-child:last-child,
.eui-form .eui-group textarea:first-child:last-child {
	top: 1px;
	border-radius: 4px;
	margin: 0;
}
.eui-form .eui-group input:last-child,
.eui-form .eui-group textarea:last-child {
	border-radius: 0 0 4px 4px;
	margin: 0;
}

.eui-form .eui-input-1 {
	width: 100%;
}
.eui-form .eui-input-3-4 {
	width: 75%;
}
.eui-form .eui-input-2-3 {
	width: 66%;
}
.eui-form .eui-input-1-2 {
	width: 50%;
}
.eui-form .eui-input-1-3 {
	width: 33%;
}
.eui-form .eui-input-1-4 {
	width: 25%;
}