@charset "utf-8";
$color-hover:#1f8dd6;

body {
	line-height: 1.6;
	min-width: 320px;
	font-size:100%;
	color: #777;
}
a {
	color:$color-hover;
	&:hover {
		color: darken($color-hover,10%);
		text-decoration: underline;
	}
}
.tr {
	text-align: right;
}
.ml5 {
	margin-left: 5px;
}
.icon {
	display: inline-block;
	vertical-align: middle;
}

.layout {
	padding-left:160px;
}
.sidebar {
	background: #191818;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 160px;
	z-index: 1000;
}
.sidebar .eui-menu ul, .sidebar .eui-menu .menu-item-divided {
	border-top: 1px solid #333;
}
.sidebar a {
	display:block;
	border: medium none;
	color: #999;
	padding: 0.625em 1em;
	white-space: normal;
}
.sidebar a:hover {
	text-decoration: none;
}
.sidebar .eui-menu li a:hover,
.sidebar .eui-menu li a:focus {
	background: #333;
}
.sidebar .eui-menu-heading {
	color: #fff;
	font-size: 125%;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-top: 0;
	padding: 0.5em 0.8em;
}
.main {

}

code {
	padding:0 3px;
	background:#f9f2f4;
	border-radius: 2px;
	color:#c7254e;
}
pre {
	margin:1em 0;
	padding:1em;
	background:#FAFAFA;
	border:1px solid #eee;
	text-align:left;
	span {
		color:$color-hover;	
	}
	em {
		color:#aaa;
	}
}
p {
	margin:.8em 0;
}
h2 {
	margin:1.5em 0 .8em;
}

ol {
	padding-left: 40px;
	list-style:decimal;
	margin:.8em 0;
}
fieldset {
	padding: 10px;
	margin-bottom: 10px;
	border:1px solid #eee;
	border-radius: 3px;
	font-size: 12px;

	legend {
		font-size: 16px;
	}
}

.resize-box {
	overflow: auto;
	resize:both;
	background-color: #eee;
	padding: 10px;
}


/*--header--*/
.header {
	text-align:center;
	h1 {
		font-size:2.5em;
		span {
			color:#1F8DD6;
		}
	}
	small {
		font-size:1em;
	}
}

/*--module--*/
.module {
	max-width:1000px;
	margin:0 auto;
	h2 {
		border-bottom:1px solid #eee;
		font-size:1.6em;
		small {
			margin-left:1em;
			font-size:.625em;
		}
		.btn-xs {
			font-size:60%;
		}
	}
	h3 {
		color:$color-hover;
	}
}

/*--custom-restricted-width--*/
.custom-restricted-width {
	display:inline-block;
	*display:inline;
	zoom:1;
}

.content-link {
	padding-right:25px;
	background: transparent url(../images/link-icon.png) no-repeat right center;
}

.txtlist {
	line-height: 28px;

	.icon-textlist {
		min-width: 4px;
		height: 14px;
		padding: 0 5px;
		line-height: 14px;
		margin: 0 5px;
		background-color: #aaa;
		color: #f00;
	}

	.intro {
		padding: 0 25px 10px;
		line-height: 20px;
		p {
			margin:0;
		}
	}
}

.piclist {

}
.picitem {
	float: left;
	margin:10px;

	.img {
		position: relative;
		width: 150px;
		height: 150px;
		background-color: #fff;
		text-align: center;
		line-height: 150px;
		span {
			position: absolute;
			left: 0;
			right: 0;
			width: 50px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			background-color: #aaa;
			color: #f00;
		}
	}
	.txt {
		line-height: 30px;
		text-align: center;
	}
}
.pictxtlist {}
.pictxtitem {
	border-top: 1px dashed #ddd;
	padding-top: 10px;
	margin-top: 10px;

	&:first-child {
		border-top:0;
		padding-top: 0;
		margin-top: 0;
	}
	.img {
		float: left;
		width: 150px;
		height: 150px;
		background-color: #fff;
		text-align: center;
		line-height: 150px;
	}
	.txt {
		margin-left: 160px;
		line-height: 30px;

		.title {
			font-size:16px;
		}

		p {
			line-height: 22px;
		}
	}
}
.pictxtitem-big {
	.img {
		width: 300px;
		height: 200px;
		line-height: 200px;
	}
	.txt {
		margin-left: 310px;
	}
}

.logindemo {
	float: left;
	padding: 10px;
	background-color: #eee;

	.eui-control-group {
		position: relative;
		padding:5px 10px;
		background-color: #fff;
		border:1px solid #999;
		border-radius:2px;

		&:hover {
			border:1px solid #007EE0;
		}

		input {
			border: 0;
			width: 200px;
		}

		.eui-aligned-label {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			background-color: #eee;
		}
	}

	.tips-error {
		position: absolute;
		right: -15px;
		top: -20px;
		padding: 5px 10px;
		white-space:nowrap;
		background-color: #fff;
		border:1px solid #F49A8C;
		color: #e9573f;

		border-radius:4px;

		.arrow-down {
			border-color: #f49a8c transparent transparent;
			border-style: solid;
			border-width: 6px 5px 0;
			bottom: -6px;
			font-size: 0;
			height: 0;
			left: 7px;
			line-height: 0;
			position: absolute;
			width: 0;

			em {
				border-color: white transparent transparent;
				border-style: solid;
				border-width: 6px 5px 0;
				bottom: 1px;
				font-size: 0;
				height: 0;
				left: -5px;
				line-height: 0;
				position: absolute;
				width: 0;
			}
		}
	}

	.eui-controls {
		margin-top: 5px;
		margin-left: 0;

		.eui-btn {
			width: 100%;
		}
	}
}

.regdemo {
	float: left;
	width: 450px;
	padding: 10px;
	background-color: #eee;

	.eui-control-group {
		label {
			margin-right: 5px;
			em {
				padding-right: 5px;
				color: #f00;
			}
		}

		input[type="text"],
		input[type="password"] {
			width: 200px;
		}
		input.vericode {
			width: 105px;
		}
		.picdemo {
			display: inline-block;
			vertical-align: middle;
			width: 85px;
			height: 27px;
			background-color: #F3FBFE;
			text-align: center;
			line-height: 27px;
			color: #335E50;
		}
		.send-code {
			background: #f5ffe9;
			border: 1px solid #7aa646;
			border-radius: 3px;
			color: #7aa646;
		}
		.eui-select-box {
			margin-left: -3px;
		}
	}

	.eui-controls {
		margin-top: 5px;

	}
	.tip_info {
		color: #aaa;
	}
}